In [1]:
import pandas as pd
from pathlib import Path

In [8]:
shelter_df = pd.read_csv(("Animal_Shelter_Intake_and_Outcome.csv"))
shelter_df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,NaN,CAT,SIAMESE,BLACK/BLACK,Female,KITTN,NaN,K22-042204,CS05,A412797,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
1,NaN,CAT,DOMESTIC SH,GRAY/WHITE,Male,KITTN,06/24/2022,K22-042194,CA03,A412786,...,PHONE,NaN,NaN,UNKNOWN,NaN,COUNTY,NaN,NaN,NaN,1
2,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042201,CS05,A412794,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
3,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042202,CS05,A412795,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
4,NaN,CAT,DOMESTIC SH,BLACK,Female,SMALL,12/30/2020,K22-041790,SMM,A412222,...,FIELD,TRANSFER,WE CARE,UNKNOWN,HEALTHY,COUNTY,OUT OF COUNTY,94574.0,"94574(38.525993, -122.432854)",1

In [9]:
facitilities_df = pd.read_csv(('food_facilities_clean_new.csv'))
facitilities_df.head()

  ZipCode  facilities_count
0    6213                 1
1   91952                 1
2   94501                 1
3   94515                 2
4   94523                 1

In [10]:
census_df = pd.read_csv(('Sonoma_County_CensusData_by Zip codes.csv'))
census_df.head()

,ZipCode,Population,Number of Households,Median Income,Average Income,Land Area (Sq. Miles),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,95442,"3,143","1,365","144,129","256,748",24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94922,726,187,"112,244","168,801",12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,94515,"7,525","2,772","85,263","165,466",106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95441,"1,696",659,"111,198","141,612",102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95448,"17,353","6,899","95,938","139,747",188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
weather_df = pd.read_csv(('sonoma_county_weather_clean.csv'))
weather_df.head()

   month_date  high_temp  low_temp   rain
0  2019-01-01         59        40   6.14
1  2019-02-01         54        38  15.03
2  2019-03-01         61        41   6.64
3  2019-04-01         68        45   1.03
4  2019-05-01         65        46   2.94

In [12]:
county_df = pd.read_csv(('zip_code_county_city_database.csv'))
county_df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [25]:
combined_data = pd.concat([shelter_df,facitilities_df,census_df,weather_df,county_df])
combined_data.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,NaN,CAT,SIAMESE,BLACK/BLACK,Female,KITTN,NaN,K22-042204,CS05,A412797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CAT,DOMESTIC SH,GRAY/WHITE,Male,KITTN,06/24/2022,K22-042194,CA03,A412786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042201,CS05,A412794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042202,CS05,A412795,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CAT,DOMESTIC SH,BLACK,Female,SMALL,12/30/2020,K22-041790,SMM,A412222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
combined_data.to_csv('C:/Users/lemuslau/Desktop/Boot Camp/team_12_project/Resources/Data/combined_data.csv', index = False, encoding='utf-8')  # Export merged pandas DataFrame