In [1]:
#import packages
import pandas as pd
from pathlib import Path

In [15]:
# Files to load
food_facilities_df = pd.read_csv(('food_facilities_clean.csv'))
food_facilities_df

,Name,Address,City,State,ZipCode
0,Park Point Club,1200 N Dutton Ave,Santa Rosa,CA,95401
1,La Guadalupana,1031 Sebastopol Rd,Santa Rosa,CA,95407
2,Freestone Vineyards Guest Center,12747 El Camino Bodega,Freestone,CA,95472
3,"Girl & The Fig, The",21800 Schellville Rd #C,Sonoma,CA,95476
4,Capt Daveys,537 Highway 1,Bodega Bay,CA,94923
...,...,...,...,...,...
3039,Sonoma Eats Mexican Food,18307 Highway 12,Sonoma,CA,95476
3040,The Lazy Hog,800 Petaluma Blvd,Petaluma,CA,94952
3041,Presto Fresco,2434 W 3rd St,Santa Rosa,CA,95401
3042,Sunflower Caffe Coffee & Baking Co. dba Honey ...,720 W Napa St,Sonoma,CA,95476
3043,Yogurtland #248,401 Kenilworth Dr Ste 540,Petaluma,CA,94952

In [6]:
import numpy as np

In [16]:
food_facilities_df = food_facilities_df.groupby(['ZipCode'])['ZipCode'].count().reset_index(name='facilities_count')
food_facilities_df

# food_facilities_df = pd.pivot_table(food_facilities_df, values='Name', index=['ZipCode'],aggfunc=np.count)

   ZipCode  facilities_count
0     6213                 1
1    91952                 1
2    94501                 1
3    94515                 2
4    94523                 1
..     ...               ...
68   95480                 3
69   95492               131
70   95495                 1
71   95497                 3
72   95688                 1

[73 rows x 2 columns]

In [17]:
food_facilities_df.to_csv('food_facilities_clean_new.csv', index=False)